@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Estiliza a barra de rolagem inteira */
::-webkit-scrollbar {
	width: 12px; /* Largura da barra de rolagem */
}

/* Estiliza a trilha (fundo) da barra de rolagem */
::-webkit-scrollbar-track {
	background: transparent; /* Cor de fundo da trilha */
}

/* Estiliza o polegar (a parte que se move) */
::-webkit-scrollbar-thumb {
	background: oklch(14.1% 0.005 285.823); /* Cor do polegar */
	border-radius: 6px; /* Bordas arredondadas */
}
